{% load staticfiles cms_tags %}
<footer class="container-fluid">
  <hr>
  {% static_placeholder 'site_footer' site or %}
  <p class="text-center">
	SD2E Portal
  </p>
  {% endstatic_placeholder %}
</footer>
