<li><a href="/">UT-Portal Home</a></li>
<li role="separator" class="divider"></li>
<li><a href="/data-depot/"> Data Depot </a></li>
<li><a href="/workspace/"> Workspace </a></li>
<!--
<li><a href="/community/">Community</a></li>
<li role="separator" class="divider"></li>
<li><a href="/account/">My Account</a></li>
<li><a href="/help/">Help</a></li>
<li><a href="/contact/">Contact</a></li>
<li><a href="/about/">About</a></li>
-->
