{% load menu_tags cms_tags staticfiles %}
<nav class="navbar navbar-default navbar-ds">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-left"><img src="{% static 'portal/img/logo.png'%}" height="40px" style="padding-right:10px"></a>
      <ul class="nav navbar-nav hidden-xs">
        {% if user.is_authenticated %}
        <li class="dropdown">

            <a class="dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

              <i class="fa fa-wrench"></i> Research Workbench
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>

            </a>
            <ul class="dropdown-menu">
        <li>
          <a href="{% url 'data_depot:data_depot' %}">
            <i class="fa fa-database"> </i> Data Depot
          </a>
        </li>
        <li>
          <a href="{% url 'workspace:workspace' %}">
            <i class="fa fa-rocket"> </i> Workspace
          </a>
        </li>
            </ul>
        </li>


        {% endif %}
        <li>
          <a href="{% url 'workspace:workspace' %}">
            <i class="fa fa-info"> </i> About
          </a>
        </li>
        <li>
          <a href="{% url 'workspace:workspace' %}">
            <i class="fa fa-question"> </i> Help
          </a>
        </li>
      </ul>
      {% if section_root %}
        <a class="navbar-brand">{{section_root.title}}</a>
      {% endif %}
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-navigation">
      <ul class="nav navbar-nav">
         {% show_menu 1 2 100 100 "includes/cms_menu.html" %}
      </ul>
      <ul class="nav navbar-nav global-nav hidden-sm hidden-md hidden-lg">
        {% include 'includes/global_nav.html' %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <!--
          <span>
            Welcome, {{ user.first_name }}!
            {% if not request.user.agave_oauth %}
              &nbsp;
              <a class="text-danger" title="API Session Not Available. Click for details." href="{% url 'portal_auth:agave_session_error' %}"><i class="fa fa-exclamation-triangle"></i><span class="sr-only">API Session Not Available. Click for details.</span></a>
            {% endif %}
          </span>-->

          <li class="dropdown">

            <a class="dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

              <i class="fa fa-user-circle fa-lg"></i>
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>

            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'portal_accounts:index' %}">My account</a></li>
              <li><a href="{% url 'portal_accounts:logout' %}">Log out</a></li>
              {% if user.is_impersonate %}
                <li><a href="{% url 'impersonate-stop' %}">Stop impersonating {{user}}</a></li>
              {% endif %}
            </ul>

          {% else %}
            <div class="btn-group">
              <a href="{% url 'portal_accounts:login' %}" class="btn btn-link-alt">Log in</a>
              <a href="{% url 'portal_accounts:register' %}" class="btn btn-link-alt">Register</a>
            </div>
          {% endif %}
        </div>
      </ul>
    </div><!-- /.navbar-collapse -->


</nav>
