{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}{% page_attribute "page_title" %}{% endblock %} | UT-Portal</title>
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="{{ site.description }}">
      <link rel="icon" href="{% static 'favicon.ico' %}">
      <link rel="canonical" href="{{request.get_full_path}}">
      {% block head_extra %}{% endblock %}
      <!-- styles -->
      {% comment %}
      {% stylesheet 'vendor' %}
      {% stylesheet 'main' %}
      {% endcomment %}
      <!-- Vendor base css -->
      {# <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.css' %}">#}
      <link rel="stylesheet" href="{% static 'portal/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'portal/css/portal.css' %}">
      <link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}">
      <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.css' %}">
      <link rel="stylesheet" href="{% static 'vendor/angular-toastr/dist/angular-toastr.css' %}">
      {% block styles %}{% endblock %}
      {% render_block "css" %}
  </head>
  <body ng-app="designsafe">
    {% cms_toolbar %}
    {# {% include 'includes/header.html' %}#}
    {% include 'includes/navigation.html' %}
    {% include 'includes/messages.html' %}
    {% block breadcrumb %}{% endblock %}
    {% block content %}{% endblock %}
    {% include 'includes/footer.html' %}
    <!-- scripts -->
    {% comment %}
    {% javascript 'vendor' %}
    {% javascript 'main' %}
    {% endcomment %}
    <!-- Vendor base JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script type="text/javascript" src="{% static 'vendor/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'vendor/underscore/underscore.js' %}"></script>
    <script src="{% static 'vendor/angular/angular.js' %}"></script>
    <script src="{% static 'vendor/angular-sanitize/angular-sanitize.min.js' %}"></script>
    <script src="{% static 'vendor/angular-toastr/dist/angular-toastr.tpls.min.js' %}"></script>
    <script src="{% static 'vendor/angular-httpi/build/httpi.min.js' %}"></script>
    <script src="{% static 'vendor/angular-ui-bootstrap/dist/ui-bootstrap.js' %}"></script>
    <script src="{% static 'vendor/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js' %}"></script>
	  <!-- Custom base js -->
    <script type="text/javascript" src="{% static 'portal/scripts/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/scripts/navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/scripts/angular/main.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/scripts/angular/ng-modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/scripts/angular/ng-designsafe-filters.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/scripts/angular/ng-designsafe-directives.js' %}"></script>

    <script type="text/javascript">

    <!-- CRSF -->
    <script type="text/javascript">
        angular.module('designsafe', []).config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }])
    </script>

    {% block scripts %}{% endblock %}
    <!-- User Auth Check -->
    <script type="text/javascript">
        (function(angular) {
            var django = angular.module('django.context', []);
            django.constant('Django', {
                user: "{{ request.user }}",
                context: {
                    authenticated: {{ request.user.is_authenticated|yesno:"true,false,false" }}
                }
            });
        })(angular);
    </script>
    {% render_block "js" %}
    {% include 'includes/analytics.html' %}
  </body>
</html>
<script> window.debug = {{debug|yesno:'true,false'}}; </script>
