<div class="modal-header">
    <h3 class="modal-title">View File</h3>
</div>
<div class="modal-body">
        <!-- <iframe ng-if="fileType!=='text'" ng-src="{{previewHref}}" frameborder="0" id="iframeObj"> </iframe> -->
        <object ng-if="fileType!=='text'" data="{{previewHref2}}" width="850" height="500"></object>
        <pre ng-if="fileType==='text'">{{ fileContent }}</pre>
	<div class="text-right">
            <button class="btn btn-default" type="button" ng-click="close()">Close</button>
        </div>

</div>
