<div class="modal-header">
    <h3 class="modal-title">Create a new folder</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="id-target-name">Enter name</label>
            <input type="text" class="form-control" id="id-folder-name" name="folder-name" placeholder="Untitled_folder" ng-model="form.folderName" autofocus select-on-focus>
        </div>
        <div class="text-right">
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="submit" ng-click="doCreateFolder($event)">Create</button>
        </div>
    </form>
</div>
