<div class="modal-header">
    <h3 class="modal-title">Delete these files?</h3>
</div>
<div class="modal-body">

	<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
	<button class="btn btn-default" type="button" ng-click="confirm()">Confirm</button>

</div>
