<div class="modal-header">
    <h3 class="modal-title">Change Permissions for this file.</h3>
</div>
<div class="modal-body">
        <!--
	<h4> {{data.currentUser}} </h4>
        <h4> {{ data.permissionOptions[0] }} </h4>
        <h4> {{form.currentPermissions[0][0].permission.read}} </h4>
        -->
        
        <div>
                <h4> User: {{data.currentUser}} </h4>
        	<h4> User can read: {{form.currentPermissions[0][0].permission.read}} </h4>
                <h4> User can write: {{form.currentPermissions[0][0].permission.write}} </h4>
                <h4> User can execute: {{form.currentPermissions[0][0].permission.execute}} </h4>
        </div>
        
	<form action="" name="form">
                 <fieldset>
    			<legend>Permission to read?</legend>
			<input type="radio" ng-model="form.currentPermissions[0][0].permission.read" value="true"> Yes<br>
                	<input type="radio" ng-model = "form.currentPermissions[0][0].permission.read" value="false"> No
                </fieldset>
	</form>

	<div class="text-right">
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-default" type="button" ng-click="doShareFiles($event)">Submit</button>
        </div>

</div>
