<div class="modal-header">
    <h3 class="modal-title">Upload a file</h3>
</div>
<div class="modal-body">
        <form action="" method="post" enctype="multipart/form-data">
		<input type="file" name="file" file-model="data.selectedFiles" multiple>
        </form>
	<div class="text-right">
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="submit" ng-click="upload()">Upload {{ file.type }}</button>
        </div>
</div>
