{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags %}
{% block title %}Data Depot{% endblock %}
{% block head_extra %}
  <base href="{% url 'data_depot:data_depot' %}">
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div ng-controller="MainCtrl" style="position:relative">
      <div ng-controller="DataDepotToolbarCtrl"
           ng-include="'{% static "portal/apps/data_depot/templates/data-depot-toolbar.html" %}'">
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3 col-md-2">
          <div ng-controller="DataDepotNewCtrl"
               ng-include="'{% static "portal/apps/data_depot/templates/data-depot-new.html"%}'">
          </div>
          <div ng-controller="DataDepotNavCtrl"
               ng-include="'{% static "portal/apps/data_depot/templates/data-depot-nav.html"%}'">
          </div>
        </div>
        <div class="col-sm-9 col-md-10">
          <ui-view>
            <div class="loading-wrapper alert alert-info">
              <i class="fa fa-spinner fa-spin fa-3x"></i><span class="loading-label">Loading...</span>
            </div>
          </ui-view>
        </div>
      </div>
    </div>
  </div>

  {% addtoblock "js" %}
    <script type="text/javascript" src="{% static 'vendor/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/apps/data_depot/services/file-listing.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/apps/data_depot/services/data-browser-service.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/apps/data_depot/services/systems-service.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/apps/data_depot/services/project-service.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/apps/data_depot/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/apps/data_depot/controllers/data-depot-new.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/apps/data_depot/controllers/data-depot-nav.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/apps/data_depot/controllers/data-depot-toolbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/apps/data_depot/controllers/external-data.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/apps/data_depot/controllers/community.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/apps/data_depot/controllers/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/apps/data_depot/controllers/my-data.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/apps/data_depot/controllers/shared-data.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/apps/data_depot/controllers/projects.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/apps/data_depot/filters/bytes.js' %}"></script>
  {% endaddtoblock %}
  {% addtoblock "js" %}
    <script type="text/javascript"
            src="{% static 'portal/apps/data_depot/directives/dd-breadcrumb.js' %}"></script>
  {% endaddtoblock %}

{% endblock content %}
