<div ng-if="!data.app">
    <div class="jumbotron">
        <h1>Select an app</h1>
        <p>Select an application from the tray above.</p>
        <p>
            This initial version of the <em>Discovery Workspace</em> allows users to
            perform simulations and analyze data using popular open source simulation
            codes OpenSees, ADCIRC, and OpenFOAM, as well as commercial tools such as
            MATLAB (software license verification required).</p>
    </div>
</div>
<div ng-if="data.type === 'html' && data.app">
  <p ng-bind-html="data.app"></p>
</div>
<div ng-if="data.type === 'agave' && data.app" class="app-form-wrapper">
    <div class="lead alert alert-warning" ng-if="data.needsLicense">
        <h2>Software License Required</h2>
        <p>
            The use of this application required that your have a {{data.app.license.type}}
            license enabled for your account. Please visit the
            <a href="/account/licenses/" target="_blank">manage software licenses</a>
            section on the My Account page for details on how to enable this license.
        </p>
    </div>
    <div class="messages">
        <div ng-repeat="message in data.messages" class="alert alert-{{message.type}}">
            <h4 ng-if="message.header" ng-bind-html="message.header"></h4>
            <p ng-bind-html="message.body"></p>
        </div>
    </div>
    <h2>Run <em>{{data.app.label}}</em></h2>
    <p>{{data.app.longDescription}}</p>
    <p ng-if="data.app.helpURI">
        <a href="{{data.app.helpURI}}" target="_blank">
            <i class="fa fa-book"></i> <span><em>{{data.app.label}}</em> Documentation</span>
        </a>
    </p>
    <form name="appForm"
          sf-schema="form.schema"
          sf-form="form.form"
          sf-model="form.model"
          sf-options="{ supressPropertyTitles: true }"
          ng-submit="onSubmit(appForm)"></form>

    <div ng-if="data.submitting">
        <span class="label label-info">
            <i class="fa fa-refresh fa-spin"></i>
            Submitting job...
        </span>
    </div>
</div>
