<dd-breadcrumb listing="browser.listing" skip-root="true" custom-root="data.customRoot" on-browse="onBrowse" item-href="resolveBreadcrumbHref"></dd-breadcrumb>
<dd-public-listing browser="browser"
            on-browse="onBrowse"
            on-select="onSelect"
            on-detail="onDetail"
            render-path="renderPath"
            render-name="renderName"
            scroll-to-bottom="scrollToBottom"
            scroll-to-top="scrollToTop">
</dd-public-listing>
