<div class="clearfix btn-toolbar-ds dd-toolbar" ds-fix-top="dd-toolbar-fixed-top">
    <div class="btn-toolbar btn-toolbar-left"
         role="toolbar"
         aria-label="Data Browser Search"
         style="with:160px; float:left; margin-left:15px;"
         ng-if="apiParams.searchState">
        <!--<form id="dd-search-form" name="dd-search-form" ng-submit="ops.search()" style="width:150px; float:left; display:inline-block;">
          <input class="form-control" ng-model="search.queryString" name="queryString" type="search" id="dd-search" placeholder="Search data..."/>
        </form>-->
    </div>
    <div class="btn-toolbar pull-right" role="toolbar" aria-label="Data Browser Toolbar">
        <div class="btn-group">
            <button class="btn btn-sm btn-default" title="Categorize"
                    ng-click="ops.viewCategories()"
                    ng-disabled="!tests.canViewCategories ||
                                  browser.project.publicationStatus === 'publishing'"
                    ng-if="browser.listing.system.startsWith('project')">
                <img src="/static/images/ds-icons/icon-categorize.svg" width="50px" height="16px"/>
                <span style="display:block;">Categorize</span>
            </button>
            {{ toolbarOptions.value.tag_enabled }}
            <button class="btn btn-sm btn-default" title="Categorize" ng-click="ops.viewMetadata()"
                    ng-hide="!toolbarOptions.value.tag_enabled"
                     ng-disabled="!tests.canViewMetadata ||
                                  browser.project.publicationStatus === 'publishing'">
                <i class="fa fa-tags"></i><span style="display:block;">Tag</span>
            </button>
            <button class="btn btn-sm btn-default" title="Rename" ng-click="ops.rename()"
                     ng-disabled="!tests.canRename ||
                                  browser.project.publicationStatus === 'publishing'">
                <i class="fa fa-pencil"></i><span style="display:block;">Rename</span>
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-sm btn-default" title="Move" ng-click="ops.move()"
                     ng-disabled="!tests.canMove ||
                                  browser.project.publicationStatus === 'publishing'">
                <i class="fa fa-arrows"></i><span style="display:block;">Move</span>
            </button>
            <button class="btn btn-sm btn-default" title="Copy" ng-click="ops.copy()"
                     ng-disabled="!tests.canCopy ||
                                  browser.project.publicationStatus === 'publishing'">
                <i class="fa fa-copy"></i><span style="display:block;">Copy</span>
            </button>
            <button class="btn btn-sm btn-default" title="Preview" ng-click="ops.preview()"
                     ng-disabled="!tests.canPreview ||
                                  browser.project.publicationStatus === 'publishing'">
                <i class="fa fa-binoculars"></i><span style="display:block;">Preview</span>
            </button>
            <button class="btn btn-sm btn-default" title="Preview Images" ng-click="ops.previewImages()" ng-hide="true">
                <i class="fa fa-photo"></i><span style="display:block;">Preview Images</span>
            </button>
         </div>
         <div class="btn-group">

            <button class="btn btn-sm btn-default" title="Download" ng-click="ops.download()"
                     ng-disabled="!tests.canDownload">
                <i class="fa fa-cloud-download"></i><span style="display:block;">Download</span>
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-sm btn-default" title="Share" ng-click="ops.share()"
                     ng-disabled="!tests.canShare ||
                                  browser.project.publicationStatus === 'publishing'">
                <i class="fa fa-send"></i><span style="display:block;">Share</span>
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-sm btn-default" title="Move to trash" ng-click="ops.trash()"
                     ng-disabled="!tests.canTrash ||
                                  browser.project.publicationStatus === 'publishing'"
                     ng-if="!tests.canDelete" ng-hide="true">
                <i class="fa fa-trash"></i><span style="display:block;">Move to Trash</span>
            </button>
             <button class="btn btn-sm btn-danger" title="Delete selected files" ng-click="ops.rm()" ng-disabled="!tests.canTrash ||
                                  browser.project.publicationStatus === 'publishing'"">
<!-- 
ng-disabled="!tests.canDelete" ng-if="tests.canDelete">
-->
                <i class="fa fa-trash"></i><span style="display:block;">Delete selected files</span>
            </button>
        </div>
        <!--
        <div class="btn-group">
            <button class="btn btn-sm btn-info" title="Details for {{ browser.listing.name }}" ng-click="ops.details()">
                <i class="fa fa-info-circle"></i><span style="display:block;">Details</span>
                <span class="sr-only">{{ browser.listing.name }}</span>
            </button>
        </div>
        -->
    </div>
</div>
