<ul class="breadcrumb">
    <li ng-if="customRoot.name != My Data">      <!-- My modification so that it won't show the root directory -->
    <!--<li ng-if="customRoot">-->
        <a href="{{ customRoot.href }}">{{ customRoot.name }}</a>
    </li>
    <li ng-if="project">
        <a href="{{ project.href }}">{{ project.name }}</a>
    </li>
    <li ng-repeat="item in listing.trail | limitTo: (offset - listing.trail.length)">
        <span ng-if="$last">{{ item.name }}</span>
        <a href="{{ itemHref()(item) }}" ng-if="! $last" ng-click="onBrowse()($event, item)">{{ item.name }}</a>
    </li>
</ul>
