<div class="project">
    <div ng-if="data.project" class="project-detail">
        <h2>{{ data.project.value.title }}</h2>
        <div style="width:50%; display:inline-block;">
        <table class="table" style="margin-bottom:0;">
            <tbody>
            <tr>
              <th>ID</th>
              <td>{{data.project.value.projectId}}</td>
            </tr>
            <tr>
                <th>PI</th>
                <td><ds-user username="data.project.value.pi" format="name-username">{{ data.project.value.pi }}</ds-user></td>
            </tr>
            <tr>
              <th>Created</th>
              <td>{{data.project.created}}</td>
            </tr>
            </tbody>
        </table>
        </div>
        <div style="width:49%; display:inline-block; vertical-align:top;">
        <div class="btn-group" role="group" aria-label="Project Actions">
            <button class="btn btn-sm btn-default" ng-click="editProject($event)">Edit Project</button>
            <button class="btn btn-sm btn-default" ng-click="manageCollabs($event)">Manage Team Members</button>
            <button class="btn btn-sm btn-default" ng-disabled="data.loadingEntities" ng-click="manageExperiments($event)"><img src="/static/images/ds-icons/icon-greek.png" width="32" height="16"/> Manage Experiments</button>
        </div>
            <div style="width:350px; height:100px; overflow:hidden;">
                <img width="350" ng-src="{{ previewHref }}"
                     ng-if="previewHref && state.showPreviewListing"/>
                <div ng-if="!previewHref && state.showPreviewListing">
                  <i class="fa fa-spin fa-spinner"></i> Loading ...
                </div>
            </div>
        </div>
        <div class="project-desc" style="padding:5px; margin:5px 0px; overflow:hidden; word-break:break-all; word-wrap:break-word; border-top:1px solid #ccc; max-height;115px;">
          <p style="display:inline-block; width:135px;"><strong>Project Description</strong></p>
          <p style="display:inline-block; max-height:40px; overflow:hidden;">
          {{data.project.value.description}}
          </p>
          <button class="btn btn-link btn-sm"
                  ng-click="showText(data.project.value.description)">
            <i class="fa fa-external-link"></i> Show</button>
        </div>

        <div class="btn-group" role="group" aria-label="Listing views"
             ng-if="!state.publishPipeline">
          <button class="btn btn-default"
                  ng-click="showListing()"
                  ng-class="{'grayed-out': !state.showMainListing}"
                  style="border-radius:10px;
              box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
              margin-right:5px;">Working Directory</button>
          <button class="btn btn-default"
                  ng-click="showPreview()"
                  ng-class="{'grayed-out': !state.showPreviewListing}"
                  style="border-radius:10px;
                box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);">Publication Preview</button>
        </div>

        <div style="text-align:center;"
             ng-class="{'pull-right': !state.publishPipeline}">
          <div class="btn-group pull-left" role="group" aria-label="Exit Publish"
               ng-if="state.publishPipeline">
            <button class="btn btn-danger"
                  ng-click="publishPipeline_exit()">
                  <i class="fa fa-sign-out"></i>Exit Publishing
            </button>
          </div>
          <div style="width:50%; margin:auto; display:inline-block;" ng-if="state.publishPipeline">
            <button class="btn btn-default"
                    ng-click="publishPipeline_prev(state.publishPipeline)"
                    ng-if="state.publishPipeline!='select'">
             <i class="fa fa-arrow-left"></i> Previous
            </button>
            <div class="wizard-steps" style="display:inline-block;">
              <span class="steps"
                    ng-class="{'active': state.publishPipeline=='select'}">
                    Selection</span>
              <span class="line">
               --
              </span>
              <span class="review"
                    ng-class="{'active': state.publishPipeline=='review'}">
                    Review
              </span>
              <span class="line">
               --
              </span>
              <span class="edit-info"
                    ng-class="{'active': state.publishPipeline=='meta'}">
                    Metadata
              </span>
               --
              <span class="edit-info"
                    ng-class="{'active': state.publishPipeline=='agreement'}">
                    Agreement
              </span>
            </div>
            <button class="btn btn-default pull-right"
                    ng-click="publishPipeline_next(state.publishPipeline)"
                    ng-if="state.publishPipeline!='agreement'">
             Next <i class="fa fa-arrow-right"></i>
            </button>
          </div>

          <div class="btn-group pull-right" role="group" aria-label="Publish buttons"
               ng-if="state.showPreviewListing && !state.publishPipeline">
            <button class="btn btn-danger"
                    ng-click="publishPipeline_start()">
                Prepare to Publish <i class="fa fa-arrow-right"></i>
            </button>
          </div>

          <div class="btn-group pull-right" role="group" aria-label="Publish buttons"
               ng-if="state.publishPipeline == 'agreement'">
            <button id="requestAndPublish" class="btn btn-danger"
                    ng-click="publishPipeline_publish()"
                    ng-disabled="!state.publishAgreement ||
                                 state.project.publicationStatus === 'publishing'">
                Request DOI & Publish <i class="fa fa-check"></i>
            </button>
          </div>
        </div>
        <div class="alert alert-info"
             style="margin-top:20px;"
             ng-if="data.project.publicationStatus == 'publishing'">
          <p>This project is currently in a publication process. Please do not modify any data or metadata in this project.</p>
        </div>
        <div class="alert alert-info"
             style="margin-top:20px;"
             ng-if="ui.publicationMessages.length">
          <ul>
            <li ng-repeat="message in ui.publicationMessages">
              Error in {{message.title}}: {{message.message}}
            </li>
          </ul>
          <p>{{ui.publicationMessage}}</p>
        </div>
    </div>

    <div ng-if="! data.project">
        <p class="lead text-center">
            <i class="fa fa-spinner fa-spin"></i> Loading Project Details...
        </p>
    </div>
    <hr>
    <ui-view class="project-data"></ui-view>
</div>
