<div class="table-responsive">
  <div class="ds-table-display-wrapper">
    <table class="table table-bordered table-striped" style="background-color: #fff;">
        <thead>
        <th>Project title</th>
        <!-- <th>PI</th>-->
        <th>Created</th>
        </thead>

        <tbody>
        <tr ng-repeat="project in data.projects"
            ng-if="data.projects">
            <td ng-click="onBrowse($event, project)">
                <i class="fa fa-briefcase"></i>
                <a ng-href="{{ project.href }}">
                    {{ project.name }}
                </a>
            </td>
            <!-- <td>
                <ds-user username="project.value.pi" format="name-username">
                    {{ project.value.pi }}
                </ds-user>
            </td>-->
            <td>
                {{ project.lastUpdated|date:"short" }}
            </td>
        </tr>
        </tbody>
        <caption>
          <div ng-if="ui.busy"
               style="padding:10px; font-size:large; with:100%;"
               class="alert alert-info">
            <span>
              <i class="fa fa-spinner fa-spin"></i> Loading...
           </span>
          </div>
        </caption>
    </table>
</div>
<div ng-if="! data.projects" class="alert alert-info">
    <p class="text-center">
        <i class="fa fa-spinner fa-spin"></i> Loading projects...
    </p>
  </div>
</div>
