{% extends "base.html" %}
{% load sekizai_tags staticfiles %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="container">
  <h1 class="headline headline-community">SD2E Portal Login</h1>
  <p class="lead">
    Choose an option below to log into the SD2E Portal.
  </p>

  <div class="row">
    <div class="col-sm-6">
      {% if message %}
      <div class="alert alert-{{message.class}}">
        <p>{{message.text}}</p>
      </div>
      {% endif %}
      <div class="login-option-block">
        <p>
          <a href="{% url 'portal_auth:agave_oauth' %}?{{ request.META.QUERY_STRING }}" class="btn btn-lg btn-primary img-responsive">
            <img class="provider-logo img-responsive" style="width:100% \9;" alt="TACC" title="Log in with TACC" src="{% static 'images/portal/logos/tacc.svg'%}">
          </a>
        </p>

        <p>
          <a href="{% url 'portal_auth:agave_oauth' %}?{{ request.META.QUERY_STRING }}">Log in using your TACC Account.</a>
        </p>
        <a href="{% url 'portal_accounts:register' %}?{{ request.META.QUERY_STRING }}">Register for a TACC account</a>
        &bull;
        <a href="https://www.tacc.utexas.edu">TACC Website</a>
      </div>
  </div>

</div>

{% endblock %}
