{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags %}
{% block title %}Workspace{% endblock %}
{% block head_extra %}
  <base href="{% url 'workspace:workspace' %}">
{% endblock %}
{% block content %}

<div class="container-fluid">
    <h1 class="headline headline-research">
        <span class="hl hl-research">Discovery Workspace</span>
    </h1>
</div>

<div class="container-fluid" role="main" id="workspace">
  <div ng-controller="ApplicationTrayCtrl"
       ng-include="'{% static "portal/apps/workspace/scripts/templates/application-tray.html" %}'"
       class="workspace-panel workspace-panel-fixed"></div>
  <div class="workspace-panel-container">
    <div ng-controller="DataBrowserCtrl"
         ng-include="'{% static "portal/apps/workspace/scripts/templates/data-browser.html" %}'"
         class="workspace-panel workspace-panel-sidebar workspace-panel-sidebar-left"
         ng-class="{'workspace-panel-collapsed': panel.collapsed}"></div>
    <div ng-controller="ApplicationFormCtrl"
         ng-include="'{% static "portal/apps/workspace/scripts/templates/application-form.html" %}'"
         class="workspace-panel workspace-panel-main"></div>
    <div ng-controller="JobsStatusCtrl"
         ng-include="'{% static "portal/apps/workspace/scripts/templates/jobs-status.html" %}'"
         class="workspace-panel workspace-panel-sidebar workspace-panel-sidebar-right"
         ng-class="{'workspace-panel-collapsed': panel.collapsed}"
         ng-init="panel.collapsed = true"></div>
  </div>
</div>

{% addtoblock "css" %}
<link href="{% static 'portal/apps/workspace/styles/workspace.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static 'vendor/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>  <!-- added by me -->
<script type="text/javascript" src="{% static 'vendor/ng-storage/ngStorage.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-translate/dist/angular-translate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-cookies/angular-cookies.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-strap/dist/angular-strap.min.js' %}"></script>  <!-- added by me-->
<script type="text/javascript" src="{% static 'vendor/angular-strap/dist/angular-strap.tpl.min.js' %}"></script>  <!-- added by me-->
<script type="text/javascript" src="{% static 'vendor/tv4/tv4.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/objectpath/lib/ObjectPath.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-schema-form/dist/schema-form.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-schema-form/dist/bootstrap-decorator.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-schema-form-dynamic-select/angular-schema-form-dynamic-select.js' %}"></script>  <!-- added by me-->
<!--<script type="text/javascript" src="{% static 'vendor/angular-schema-form-multiselect/dist/asf-bootstrap-multiselect.js' %}"></script>  <!-- added by me-->
<script type="text/javascript" src="{% static 'vendor/filesaver/src/FileSaver.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/angular-xeditable/dist/js/xeditable.min.js' %}"></script>
{% endaddtoblock %}

{% addtoblock 'js' %}
<script src="{% static 'portal/apps/data_depot/services/data-browser-service.js' %}"></script>
<script src="{% static 'portal/apps/data_depot/services/systems-service.js' %}"></script>
<script src="{% static 'portal/apps/data_depot/services/file-listing.js' %}"></script>
<script src="{% static 'portal/apps/workspace/scripts/app.js' %}"></script>
<script src="{% static 'portal/apps/workspace/scripts/controllers/workspace-panel.js' %}"></script>
<script src="{% static 'portal/apps/workspace/scripts/controllers/application-tray.js' %}"></script>
<script src="{% static 'portal/apps/workspace/scripts/controllers/application-form.js' %}"></script>
<script src="{% static 'portal/apps/workspace/scripts/controllers/jobs-status.js' %}"></script>
<script src="{% static 'portal/apps/workspace/scripts/controllers/data-browser.js' %}"></script>
<script src="{% static 'portal/apps/workspace/scripts/services/systems-service.js' %}"></script>
<script src="{% static 'portal/apps/workspace/scripts/services/apps-service.js' %}"></script>
<script src="{% static 'portal/apps/workspace/scripts/services/jobs-service.js' %}"></script>
<script src="{% static 'portal/apps/workspace/scripts/services/simple-list-service.js' %}"></script>
<script src="{% static 'portal/apps/workspace/scripts/services/multiple-list-service.js' %}"></script>
<!--<script src="{% static 'portal/apps/workspace/scripts/directives/agave-file-picker.js' %}"></script>  I commented this line. File picker does not appear to be used-->      
<!--<script src="{% static 'portal/apps/workspace/scripts/directives/asf-agave-file-picker.js' %}"></script>  I commented this line-->
<script src="{% static 'portal/apps/workspace/scripts/providers/translations.js' %}"></script>
{% endaddtoblock %}

{% endblock %}
