html {
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
body > .container {
  padding-bottom: 60px;
}
footer {
  position: absolute;
  bottom: -40px;
  width: 100%;
  height: 40px;
  /*margin-top: -40px;*/
  /*background-image: url('/static/portal/img/footer-bg.jpg');*/
  background-color: #292929;
  background-size: 100%;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    font-size: 1.25em;
    font-weight: 700;
}

.navbar-ds {
  background-image: url('/static/portal/img/network-Header.jpg');
}

.navbar.navbar-default {
  border-top: 3px solid #57a6de;
}

.site-banner {
  background-color: #fff;
  border-bottom: 2px solid #11a2a2;
  height: 3em;
  line-height: 3em;
}
.dd-file-selected {
  background-color: #d2d2d2 !important;
}

.portal-branding {
  height: 45px;
  padding-right: 15px;
}
.right-nav-links > a:nth-child(1) {
  margin-top: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}
.navbar-nav {
  height: 45px;
}
.nav-icon {
  margin-right: 5px;
}
.jupyter {
  height: 20px;
  margin-left: -5px;
}
.right-nav-links > a {
  font-size: 1.3rem;
  font-weight: 300;
}
.hidden-xs > li:nth-child(1) > a:nth-child(1),
a.btn-link-alt {
  color: #FFFFFF;
}
.open > ul > li > a:hover,
a.btn-link-alt:hover,
.nav > li > a:nth-child(1):hover,
.open > ul > li > a:hover {
  color: #4dc3ff;
}
.ext-link {
  margin-left: 5px;
}

dl > dt {
  margin-top: 12px;
}
